/* Global styles */

body {
    font-family: Arial, sans-serif;
    background-color: #F6F6F6;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  
  form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  form input[type="text"], form input[type="email"], form input[type="tel"], form select {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  form select option {
    font-size: 16px;
  }
  
  form input[type="submit"] {
    background-color: #36A5FF;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  form input[type="submit"]:hover {
    background-color: #2696D6;
  }
  
  /* Responsive styles */
  
  @media (max-width: 767px) {
    .container {
      padding: 10px;
    }
  }
  